[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/axiom-std"]
	path = lib/axiom-std
	url = https://github.com/axiom-crypto/axiom-std
